{% extends 'leyssare/base.html' %}

{% load static%}
{% load tags_personnalise %}

{% block title %}<title>Authentification</title>{% endblock%}
{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/auth_page.css'%}">
    <link rel="stylesheet" href="{% static 'css/nicepage.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'css/deja_versee.css'%}" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <section class="section">
        <div class="container">
            <p class="para1">Page d'identification des Membres</p>
        </div>

      {% if not error %}
        <form method="POST" action="{% url 'BleyApp:authentication' urls=request.path urls_param='auth_page'%}" class="auth_form">
                {% csrf_token%}
                 <div class="form-group">
                        <label for="formGroupExampleInput">YOUR PERSONNAL CODE:</label>
                        <input type="text" class="form-control" name="id_number" id="formGroupExampleInput" placeholder="input your code">
                    </div>
            <input class="submit" type="submit" value="Valider">
        </form>
      {% elif error %}
        <p class="error">Le code: <span style="color:orange; text-decoration: underline  #FF3028;">{{error}}</span> n'est pas correct, veillez réessayer. </p>
          <form method="POST" action="{% url 'BleyApp:authentication' urls=request.path urls_param='auth_page'%}" class="auth_form">
                {% csrf_token%}
                     <div class="form-group">
                        <label for="formGroupExampleInput">YOUR PERSONNAL CODE:</label>
                        <input type="text" class="form-control" name="id_number" id="formGroupExampleInput" placeholder="input your code">
                    </div>
            <input class="submit" type="submit" value="submit">

        </form>
      {% endif %}

  </section>
{% endblock %}