{% extends 'leyssare/base.html' %}


{% load static%}

{% block title %}<title>DEPENSÉ</title>{% endblock%}
{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/nicepage.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'css/depensee.css'%}" media="screen">
  <p style="background-color:#823d9d;font-weight: bold; text-align:center; color:white">Salam {{user}}</p>
  <section class="section">

      <table class="table table-bordered table-dark">
          <thead>
            <tr>

              <th scope="col">SOMME TTL. EN FCFA</th>
              <th scope="col">SOMME TTL. EN FG</th>
              <th scope="col">MONTANT TTL. DÉPENSÉ EN FG</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <!-- Ici, on affiche les données disponbile dans LeyssareCaisse  -->
              <td class="fg-success">{{cfa}}</td>
              <td class="fg-success">{{fg}}</td>
              <td class="fg-success">{{mnt_d}}</td>
            </tr>

          </tbody>
    </table>

         <div class="table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">SOMME CÔTISÉ EN CFA </th>
                  <th scope="col">SOMME CÔTISÉ EN  FGN</th>
                  <th scope="col">DATE</th>
                </tr>
              </thead>
              <tbody>
                <!-- Ici, on affiche les données disponbile dans VersementLeyssare  -->
                    {% if myList %}
                        {% for items in myList%}
                             <tr class="align-bottom">
                              <td class="montant" scope="row">{% if items.montant_cfa != None %}{{items.montant_cfa}}{%endif%}</td>
                              <td class="montant">{% if items.montant_fg != None %}{{items.montant_fg}}{%endif%}</td>
                              <td class="">{{items.date}}</td>
                            </tr>
                        {% endfor %}
                   {% endif %}
              </tbody>
    </table>
    </div>

  </section>
<script type="text/javascript"  src="{% static 'scripts/depensee.js' %}" async></script>
{% endblock %}