{% extends 'leyssare/base.html' %}

{% load static%}

{% block title %}<title>Membres</title>{% endblock%}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/nicepage.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'css/depences.css'%}" media="screen">
  <p style="background-color:#823d9d;font-weight: bold; text-align:center; color:white">Salam {{user}}</p>
  <section class="section">
    <div class="container">
        {% if data %}

            {% for data in data %}
                <p>Depensés: {{data.montant_depencee}} FGN,   le {{data.date}}</p>
             {% endfor %}

        {% endif %}
    </div>

  </section>
{% endblock %}